@model Meeting

@{
	ViewBag.Title = Model.Name;
}

<a class="btn btn-outline-secondary w-25" asp-controller="Meeting" asp-action="Index">Back</a>
<div class="card p-3 d-flex flex-column">
	<h2>@Model.Name</h2>
	<p>@Model.Description</p>
	<span class="alert alert-success p-1" role="alert" style="width: max-content !important;">
		Participants @Model.NumberOfUser
	</span>
	<a class="btn btn-primary" asp-controller="Meeting" asp-action="Join" asp-route-id="@Model.Id">
		Join Meeting
	</a>
	<a class="btn btn-primary" asp-controller="Meeting" asp-action="Participants" asp-route-id="@Model.Id">
		Participants List
	</a>
</div>