@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100"><i class="ri-filter-line"></i> Filter</button>
                </div>
                <div class="col-md-10">
                    <select name="category" asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", @Model.SelectedCategory))" class="form-select">
						<option value="0">All Categories</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<form method="post" asp-action="EditProducts">
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th style="width: 100px">@Html.DisplayNameFor(m => m.Products[0].IsActive)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Name)</th>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.Products[0].Price)</th>
            <th style="width: 180px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
			@for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Products[i].ProductId
						<input type="hidden" asp-for="@Model.Products[i].ProductId" />
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.Products[i].IsActive" />
                    </td>
                    <td>
                        <img src="~/img/@Model.Products[i].Image" class="img-fluid" />
                    </td>
                    <td>@Model.Products[i].Name</td>
                    <td>@Model.Products[i].Price</td>
                    <td>
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Products[i].ProductId" class="btn btn-sm btn-primary"><i class="ri-pencil-line"></i> Edit</a>

                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ri-delete-bin-line"></i> Delete</button>
                        <div class="modal fade modal-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete [@Model.Products[i].Name]</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Products[i].ProductId" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        } else {
			<tr>
				<td colspan="5">No records found.</td>
			</tr>
        }
    </tbody>
</table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
